*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.lof
*.loa
*.loap
*.lot
*.out
*.toc
*.html
*.knit.md
*.utf8.md
*.synctex.gz
*-concordance.tex
errickson_thesis.tex
errickson_thesis.pdf
figure/
.Rhistory
abstract.pdf
abstract.html